### android studio
*.iml
/.gradle/
/.idea/assetWizardSettings.xml
/.idea/libraries/
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/local.properties


### android studio
#/.idea/caches
#.DS_Store
#/captures
#.externalNativeBuild
#.cxx
#local.properties


### local config files
/app/src/main/java/**/ProjectConfig.kt


### other files #??? todo - ignore?
app/.gitignore
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
